<footer class="bg-black">
    <div class="container py-13">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
            <div class="mb-10 mb-lg-0">
                <a href="#" class="Poppins fw-bold text-decoration-none h2 link-light"># ZOBAA<span class="ms-2 rotation-15">!</span></a>
                <nav class="nav flex-column flex-lg-row gap-lg-8 mt-10 mt-lg-9">
                    <a class="nav-link body-fs-1 link-light px-0" href="#">常見問題</a>
                    <a class="nav-link body-fs-1 link-light px-0" href="#">關於我們</a>
                    <a class="nav-link body-fs-1 link-light px-0" href="#">隱私權政策</a>
                    <a class="nav-link body-fs-1 link-light px-0" href="#">使用者條款</a>
                </nav>
            </div>
            <div>
                <div class="d-flex justify-content-lg-end mb-4 gap-4">
                    <a href="" class="link-light social-img"><i class="bi bi-line"></i></a>
                    <a href="" class="link-light social-img"><i class="bi bi-youtube"></i></a>
                    <a href="" class="link-light social-img"><i class="bi bi-facebook"></i></a>
                </div>
                <p class="Poppins body-fs-2 text-gray-copyright">copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>